body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(2, 2, 50); */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


.info{
  position: fixed;
  top: 0;
  color: azure;
  padding: 30px;
}

.country{
  transition: fill .5s;
}
